---
import '../../src/styles/global.css';
import { buildWebSiteSchema } from '../../src/lib/schema';

export interface Props {
  title?: string;
  description?: string;
}

const { title = 'Buffstreams - Sports Schedule Directory', description = 'Complete sports schedule directory for NFL, NBA, MLB, NHL, UFC, and more.' } = Astro.props;

const schema = buildWebSiteSchema();
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://streamed.pk" crossorigin />
    <link rel="canonical" href={Astro.url.href} />
    <link rel="icon" type="image/png" href="/images/buffstreams.png" />
    <link rel="apple-touch-icon" href="/images/buffstreams.png" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://buffstreamsbackup.world/images/buffstreams.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://buffstreamsbackup.world/images/buffstreams.png" />
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
    <!-- Histats.com  START  (aync)-->
    <script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,5038558,4,0,0,0,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?5038558&101" alt="histats.com" border="0"></a></noscript>
<!-- Histats.com  END  -->
  </head>
  <body class="min-h-screen bg-buff-dark text-white antialiased">
    <slot />
  </body>
</html>
